[run]
branch = True
relative_files = True

omit =
    notebooks/*.py
    *__init__.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError*
    if __name__ == .__main__.:
